@import '../../../_vars';

.default-site-btn {
  margin: 10px 0;
  border-radius: 3px;
  border: none;
  padding: 5px 20px;
  text-transform: uppercase;
}

.default-site-btn.dark {
  background: $orange;

  &:active {
    color: $dark;
  }
}

.default-site-btn.light {
  background: $blue;
  color: $white;

  &:active {
    color: $white;
  }
}
