@import '../../../_vars';

.todo-item {
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  cursor: pointer;

  .todo-check {
    background: none;
    width: 25px;
    height: 25px;
    border-radius: 100%;
  }

  &.dark {
    border: 1px solid $orange;
    background: lighten($dark-blue, 3%);

    &:hover {
      background: lighten($dark-blue, 5%);
    }

    &.completed .todo-check {
      background: $orange;

      &:hover {
        background: rgba($orange, 0.9);
      }
    }

    .todo-check {
      border: 1px solid $orange;

      &:hover {
        background: rgba($orange, 0.2);
      }
    }
  }

  &.light {
    color: $blue;
    border: 1px solid $blue;
    background: darken($white, 3%);

    &:hover {
      background: darken($white, 5%);
    }

    &.completed .todo-check {
      background: $blue;

      &:hover {
        background: rgba($blue, 0.9);
      }
    }

    .todo-check {
      border: 1px solid $blue;

      &:hover {
        background: rgba($blue, 0.2);
      }
    }
  }
}
