@import './../../_vars';

header {
  margin-bottom: 20px;

  .main-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: lighten($dark-blue, 10);

    li {
      display: inline-block;
      width: 50%;

      a {
        width: 100%;
        padding: 20px;
        display: inline-block;
        border-bottom: 2px solid $dark-blue;
        font-size: 24px;
        text-align: center;
        text-decoration: none;
        color: lighten($dark-blue, 70);

        &.active {
          color: $orange;
          border-bottom: 2px solid $orange;
        }
      }
    }
  }
}
