@import '~bootstrap/scss/bootstrap';
@import './_vars';

.main-wrapper {
  min-height: 100vh;
  width: 100%;

  &.dark-theme {
    background: $dark;
    color: lighten($dark, 75%);
  }

  &.light-theme {
    background: $white;
    color: lighten($blue, 75%);
  }
}
